div class='container d-flex align-items-center justify-content-center'
  h1 New question 

div class='container d-flex align-items-center justify-content-center'
  = render 'form', {survey:@survey, question:@question}
