div class='container d-flex align-items-center justify-content-center'
  h1 Create a new Survey
div class='container d-flex align-items-center justify-content-center'
  = render 'form', survey:@survey